#resume {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    padding: 80px;
    margin: 0% auto;
    background: rgb(34, 33, 33);
    color: rgb(128, 29, 221);
}

#resume h1 {
    margin: 0%;
}

.credentals {
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
}

.edu {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5%;
}

.education {
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}
.edu-span {
    color: silver;
    font-size: 17px;
    font-weight: bold;
}

.portfolio-cert {
    background: rgb(128, 29, 221);
    margin-top: 30px;
    width: 160px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.portfolio-cert a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}